.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.items-center {
  align-items: center;
}
.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-4 {
  margin-top: 16px;
}
.mt-5 {
  margin-top: 20x;
}
.mt-6 {
  margin-top: 24px;
}
.mt-7 {
  margin-top: 28px;
}
.mt-8 {
  margin-top: 32px;
}

.ml-1 {
  margin-left: 4px;
}
.ml-2 {
  margin-left: 8px;
}
.ml-3 {
  margin-left: 12px;
}
.ml-4 {
  margin-left: 16px;
}
.ml-5 {
  margin-left: 20x;
}
.ml-6 {
  margin-left: 24px;
}
.ml-7 {
  margin-left: 28px;
}
.ml-8 {
  margin-left: 32px;
}

.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px;
}
.mr-3 {
  margin-right: 12px;
}
.mr-4 {
  margin-right: 16px;
}
.mr-5 {
  margin-right: 20x;
}
.mr-6 {
  margin-right: 24px;
}
.mr-7 {
  margin-right: 28px;
}
.mr-8 {
  margin-right: 32px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-5 {
  padding-top: 20x;
  padding-bottom: 20x;
}
.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-7 {
  padding-top: 28px;
  padding-bottom: 28px;
}
.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-1 {
  padding-right: 4px;
  padding-left: 4px;
}
.px-2 {
  padding-right: 8px;
  padding-left: 8px;
}
.px-3 {
  padding-right: 12px;
  padding-left: 12px;
}
.px-4 {
  padding-right: 16px;
  padding-left: 16px;
}
.px-5 {
  padding-right: 20x;
  padding-left: 20x;
}
.px-6 {
  padding-right: 24px;
  padding-left: 24px;
}
.px-7 {
  padding-right: 28px;
  padding-left: 28px;
}
.px-8 {
  padding-right: 32px;
  padding-left: 32px;
}

.title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.subtitle {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}